* {
  padding: 0;
  margin: 0;
}

body {
  margin: 15px; auto;
  background: #A9A9A9;
}

.outerShell {
  background-color: #0000A4;
  padding: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.innerShell {
  background-color: #666c;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.outputWindow, .outputWindow2 {
  background: #ccc;
  padding: 15px;
  margin-bottom: 30px;
  height: 25px;
  text-align: center;
}

h1 {
  padding: 5px 10px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

h1.mainHeading {
  font-size: 26px;
}

.squareFoot {
  border: 1px solid #ccc;
}

.cubicFoot {
  border: 1px solid #ccc;
}

.decToInch {
  border: 1px solid #ccc;
}

.inchToDec {
  border: 1px solid #ccc;
}

.labels {
  padding: 10px 0;
  margin-bottom: 15px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

input {
  padding: 5px;
  margin: 5px auto;
  font-size: 16px;
  text-align: center;
  width: 100px;
  display: block;
}

input.cubicN1 {
  width: 100px;
}

input.cubicN2 {
  width: 100px;
}

input.height {
  width: 100px;
}

input.dec {
  width: 125px;
}

.calculate {
  width: 100px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

p.disclaimer {
  font-size: 14px;
  color: #fff;
  padding-bottom: 8px;
}
